<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Admin</title>
        <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <!-- Bulma Version 0.7.2-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/forum.css">
        {% if error %}
        <div style="padding: 20px;background-color: #f44336; color: white;margin-bottom: 15px;">
          {{ error }}
        </div>
        {% endif %}
        {% include 'flash.html' %}
    </head>
{% block content %}


                     <span class='tag is-dark subtitle'>Admin Panel</span>

                    <a class="button is-block is-info" href = "/admin/login">Login</a>
                    <br>
                    <a class="button is-block is-info" href = "/admin/logout">Logout</a>
                    <br>
                    <a class="button is-block is-info" href = "/admin/reports">View Reports</a>
                    <br>
                    <a class="button is-block is-info" href = "/admin/view_users">View Users</a>
                                            
                    
                

{% endblock %}
</html>
