{% macro paginationFunc(padding, count, page) %}
    {% set midpoint = page %}
    {% if page < padding + 1 %}
      {% set midpoint = padding + 1 %}
    {% endif %}
    {% if page > count - padding %}
      {% set midpoint = count - padding %}
    {% endif %}

    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <ul class="pagination-list" style="list-style-type: none">
          {% if 1 >= midpoint-padding %}
            {% set maxVal = 1 %}
          {% else %}
            {% set maxVal = midpoint - padding %}
          {% endif %}
          {% if count <= midpoint+padding %}
            {% set minVal = count %}
          {% else %}
            {% set minVal = midpoint+padding %}
          {% endif %}
          {% for i in range(maxVal, minVal+1) %}   
            {% if i == pagination.page_number %}

            <li><a class="pagination-link is-current" aria-label="Page {{ i }}" aria-current="page">{{ i }}</a></li>
            {% else %}
            <li><a class="pagination-link" aria-label="Goto page {{ i }}" href='/?page={{ i }}'>{{ i }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
    </nav>
{% endmacro %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Accio</title>
        <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <!-- Bulma Version 0.7.2-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/forum.css">
    </head>
    <body>

        <nav class="navbar is-white topNav">
            {% include 'flash.html' %}
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="/static/accio-logo.png" width="112" height="28">
                    </a>
                    <div class="navbar-burger burger" data-target="topNav">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div id="topNav" class="navbar-menu">

                    <div class="navbar-start">
                        <a class="navbar-item" href="/">Home</a>
                        <a class="navbar-item" href="/tag_create">New Tag</a>
                        <a class="navbar-item" href="/post/submit">New Post</a>
                        {% if loggedin %}
                        <a class="navbar-item" href="/user/profile/{{id}}">My Profile</a>
                        {%endif%}
                    </div>

                    <div class="navbar-end">
                        {% if loggedin %}
                        <div class="navbar-item">
                            <div class="field is-grouped">
                                <p class="control">
                                    <a class="button is-small is-info is-outlined" href="/user/logout">
                                        <span class="icon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <span>
                                            Logout
                                        </span>
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-small is-info is-outlined" href="/admin/index">
                                        <span class="icon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <span>
                                            Admin
                                        </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        {% else %}
                        <div class="navbar-item">
                            <div class="field is-grouped">
                                <p class="control">
                                    <a class="button is-small" href="/user/register">
                                        <span class="icon">
                                            <i class="fa fa-user-plus"></i>
                                        </span>
                                        <span>
                                            Register
                                        </span>
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-small is-info is-outlined" href="/user/login">
                                        <span class="icon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <span>
                                            Login
                                        </span>
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-small is-info is-outlined" href="/admin/index">
                                        <span class="icon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <span>
                                            Admin
                                        </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </nav>
        
        <section class="container">

            <div class="columns">
                <div class="column is-3">
                    <a class="button is-primary is-block is-alt is-large" href="/post/submit">New Post</a>
                    <aside class="menu">
                        <p class="menu-label">
                            Tags
                        </p>
                        <ul class="menu-list">
                            {% for tag in tags %}
                            <a href = "/t/{{tag.title}}"><li><span class="tag is-{{ (['primary', 'link', 'light', 'dark', 'success']) | random}} is-medium ">{{tag.title}}</span></li></a>
                            
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
                <div class="column is-9">
                    <div class="box content">
                        {%for post in pagination.posts%}
                        <article class="post">
                            <a href = "/post/{{post.id}}"><h4>{{post.title}}</h4></a>
                            <div class="media">
                                <div class="media-left">
                                    <p class="image is-32x32">
                                        <img src="http://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <a href="#">@{{post.user}}</a> created at {{post.date}} &nbsp;
                                            <span class="tag">{{post.tag}}</span>  
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> {{post.comment_count}}</span>
                                    <span class="has-text-grey-light"><i class="fa fa-star"></i> {{post.vote}}</span>

                                </div>
                            </div>
                        </article>
                        {%endfor%}
                        {{ paginationFunc(3, pagination.last_page_number, pagination.page_number) }}
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <div class="columns is-mobile is-centered">
                        <div class="field is-grouped is-grouped-multiline">
                            <div class="control">
                                <div class="tags has-addons">
                                    <a class="tag is-link" href="https://github.com/dansup/bulma-templates">Bulma Templates</a>
                                    <span class="tag is-light">Daniel Supernault</span>
                                </div>
                            </div>
                            <div class="control">
                                <div class="tags has-addons">
                                    <a class="tag is-link">The source code is licensed</a>
                                    <span class="tag is-light">MIT &nbsp;<i class="fa fa-github"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script async type="text/javascript" src="/static/bulma.js"></script>
    </body>
</html>