{% block title %} {{post.title}} {% endblock %}
{% block content %}
    <h2> {{ post.title }} </h2>
    <p>
        Submitted By: {{ meta.user }}
    </p>
    <p>
        Date of Submission: {{ meta.date }}
    </p>
    <form action = "/report/0/{{post.id}}" method="GET">
        <input type="submit" value="Report"/>  
    </form>
    <p>
        Vote Count: <div id="votecount">{{ meta.vote }}</div>
    </p>
    <p>
        Comment Count: {{ meta.comment }}
    </p>
    <input type="button" onClick="vote(1)">UpVote</input>
    <input type="button" onClick="vote(0)">DownVote</input>
    <h3>
    POST:
    </h3>
    {{post.body|safe}}

    <form action="" method="POST" novalidate>
        <p>{{ form.hidden_tag() }}</p>
        <p>
            {{ form.content.label }}
            {{ form.content }}
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>

    <ul>
    {% for comment in comments %}
    <li>Comment by: <a href="/user/profile/{{comment.user_id}}">{{comment.user}}</a></li>
    <li>Vote: {{comment.vote}}</li>
    <div class="commentcontent">{{comment.content|safe}}</div>
    {% endfor %}
    </ul>

    <script>
    // This function will be updated when fronend platform is implemented
    function vote(type) {
        $.ajax({url: "/vote/{{ post.id }}/" + type + "/0", success: function(result){
            if('success' in result){
                //For instant display
                if(type){
                    $("#votecount").text(result.final_vote);
                }else{
                    $("#votecount").text(result.final_vote);
                }
            }else if('error' in result){
                alert(result.error);
            }
        }});
    }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}
