{% if error %}
<div style="padding: 20px;background-color: #f44336; color: white;margin-bottom: 15px;">
  {{ error }}
</div>
{% endif %}
{% block title %}Sign Up{% endblock %}
{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.firstname.label }}<br>
            {{ form.firstname }}
        </p>
        <p>
            {{ form.lastname.label }}<br>
            {{ form.lastname }}
        </p>
        <p>
            {{ form.birth_date.label }}<br>
            {{ form.birth_date }}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}
        </p>
       
        <p>
            {{ form.email.label }}<br>
            {{ form.email }}
        </p>
        
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}
        </p>
        <p>
            {{ form.confirm.label }}<br>
            {{ form.confirm }}
        </p>


        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}