<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tag</title>
        <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <!-- Bulma Version 0.7.2-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/forum.css">
        {% if error %}
        <div style="padding: 20px;background-color: #f44336; color: white;margin-bottom: 15px;">
          {{ error }}
        </div>
        {% endif %}
    </head>
{% block content %}
{% include 'flash.html' %}
{% if is_banned %}
{% set color = 'is-danger' %}
{% else %}
{% set color = 'is-primary' %}
{% endif %}
<section class="hero {{color}}">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">t/{{title}} Moderation Page</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2>Moderators</h2>
        {%if mods %}
        <ul>
            {% for mod in mods %}
            <li><a href="/user/profile/{{mod[0]}}">{{mod[1]}}</a></li>
            {%endfor%}
        </ul>
        {%endif%}
    </div>
</section>

<section class="section">
    <div class="container">
        <h2>Add mod</h2>
        <form action="/t/{{title}}/mod/add" method="post">
            <div class="field">
                <div class="control">
                    {{ add_mod_form.user(class='input', placeholder='Username')}}
                </div>
            <div class="field">
                <div class="control">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</section>    

<section class="section">
    <div class="container">
        <h2>Remove mod</h2>
        <form action="/t/{{title}}/mod/remove" method="post">
            <div class="field">
                <div class="control">
                    {{ remove_mod_form.user(class='input', placeholder='Username')}}
                </div>
            <div class="field">
                <div class="control">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</section>    

<section class="section">
    <div class="container">
        <h2>Edit info</h2>
        <form action="/t/{{title}}/mod/edit_info" method="post">
            <div class="field">
                <div class="control">
                    {{ edit_tag_form.description(class="input is-large", type="textarea", placeholder="Description", autofocus="")}} 
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ edit_tag_form.rules(class="input is-large", type="textarea", placeholder="Rules", autofocus="")}} 
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</section>    
{% endblock %}

</html>

