<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Tag </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>

<body>
    {% if error %}
        <div style="padding: 20px;background-color: #f44336; color: white;margin-bottom: 15px;">
          {{ error }}
        </div>
        {% endif %}

    {% include 'flash.html' %}
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Create Tag</h3>
                    <p class="subtitle has-text-grey">Please fill the form to create a new tag.</p>
                    <div class="box">
                        
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="field">
                                <div class="control">
                                    {{ form.title(class="input is-large", type="text", placeholder="Title", autofocus="")}} 
                                    </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    {{ form.description(class="input is-large", type="textarea", placeholder="Description", autofocus="")}} 
                                    
                                    
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.rules(class="input is-large", type="textarea", placeholder="Rules", autofocus="")}} 
                                    
                                    
                                </div>
                            </div>
                            

                            <input id="submit" name="submit" type="submit" value="Submit"  class="button is-block is-info is-large is-fullwidth">                         

                            </form>
                    </div>
                  
                </div>
            </div>
        </div>
    </section>
    <script async type="text/javascript" src="/static/bulma.js"></script>

</body>

</html>